@using BuildService.Web.ViewModels.ConstructionWorks
@model List<BuildService.Web.ViewModels.ConstructionWorks.ConstructionWorkViewModel>

<h4>Строително-ремонтни работи</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddWorks" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Наименование</th>
                        <th scope="col">Мярка</th>
                        <th scope="col">Количество</th>
                        <th scope="col">Цена</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <tr>
                            <td>
                                <input asp-for="@Model[i].Title" type="text" value="@Model[i].Title" />
                            </td>
                            <td>
                                <input type="text" value="@Model[i].MetricName" />
                            </td>
                            <td>
                                <input type="text" value="@Model[i].Quantity" />
                            </td>
                            <td>
                                <input type="number" value="works[i].Price" />
                            </td>
                            <td>
                                <input type="text" value="works[i].ConstructionCategoryName" />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="form-group">
                <input type="submit" value="Създай" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="All">Назад</a>
</div>