@using BuildService.Web.ViewModels.ConstructionWorks
@model List<BuildService.Web.ViewModels.ConstructionWorks.ConstructionWorkViewModel>

<h4>Строително-ремонтни работи</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddWorks" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @for (int i = 0; i < Model.Count; i++)
            {
                <div class="form-group">
                    <input asp-for="@Model[i].Title" type="text" value="@Model[i].Title" />
                </div>
                <div class="form-group">
                    <input type="text" value="@Model[i].MetricName" />
                </div>
                <div class="form-group">
                    <input type="text" value="@Model[i].Quantity" />
                </div>
                <div class="form-group">
                    <input type="number" value="works[i].Price" />
                </div>
                <div class="form-group">
                    <input type="hidden" value="works[i].ConstructionCategoryName" />
                </div>
            }

            <div class="form-group">
                <input type="submit" value="Създай" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="All">Назад</a>
</div>