@{
    this.ViewData["Title"] = "Начало";
}

<div id="index-page" class="text-center" style="height: 600px">
    <h1 class="display-5">BuildService - Система за управление на строително-ремонтните работи!</h1>
</div>


