@{
    this.ViewData["Title"] = "Начало";
}

<div class="text-center">
    <h1 class="display-5">BuildService - Система за управление на строително-ремонтните работи!</h1>
</div>
<div>
    <img src="https://cdn.shopify.com/s/files/1/2472/8980/files/bigstock-Construction-Worker-At-Site-3461983.jpg?v=1508779028" class="img-fluid" alt="Responsive image"></a>
</div>


